.header{
 padding: 2%;
 margin-left: 5%;
}
section{
    display: flex;
}
h2{
    font-size: 40px;
}
p{
    font-size: 20px;
}
.background-img{
    background-image: url(images/Circle\ design.svg)
}
.width{
    width: 50%;
    
    margin: 0 20% 4% 4%;
}
.booking-button{
    text-decoration: none;
    background-color: rgb(183, 139, 233);
    border-radius: 6px;
    padding: 1% 2% 1% 2%;
    color: rgb(253, 247, 247);
   
}
.width-img{
    width: 50%;
    
}
.list-title{
    
    text-align: center;
    font-size: 25px;
    padding-top: 4%;
}